.navBar {
  background-color: #FFFFFF;
  border-radius: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  height: 80.67px;
  margin: 31px 10px 30px 5px;
  padding: 0 21px 0 21px;

  position: relative; 
  z-index: 100;
}

/* Sidebar */
.offcanvas-header {
  position: relative; 
}

.hamburgerBar {
  border: none;
  background: none;
  cursor: pointer;
}

.sideBar {
  max-width: 50vw !important;
}

.closeButton {
  background: none;
  border: none;
}

.closeButton svg rect {
  transition: fill 0.3s ease;
}

.closeButton:hover svg rect {
  fill: #EA4335;
}

.otherSection{
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Navigation bar sections */
.events{
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: black;
  transition: color 0.3s ease, transform 0.1s ease;
  transform-origin: left;
  overflow: visible;
  font-size: 18px;
}

.events svg {
  transform: translateY(-1px);
  fill: currentColor;
  transition: fill 0.1s ease;
}

.events:hover{
  color: #4285f4;
  transform: scale(1.25);
}


.home {
  color: black;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.1s ease;
  display: inline-block;
  transform-origin: left;
}

.home:hover {
  color: #EA4335;
  transform: scale(1.25);
}

.project {
  color: black;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.1s ease;
  display: inline-block;
  transform-origin: left;
}

.project:hover {
  color: #0f9d58;
  transform: scale(1.25);
}

.team {
  color: black;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.1s ease;
  display: inline-block;
  transform-origin: left;
}

.team:hover {
  color: #4285f4;
  transform: scale(1.25);
}

.joinButton{
  background: none;
  padding: 4px 25px 4px 25px;
  margin: 0;
  font-family: "ProductSans", sans-serif;
  font-weight: 700;
  border-radius: 8px;
  transition: color 0.3s ease, transform 0.1s ease, background-color 0.1s ease, border 0.1s ease;
  display: inline-block;
  transform-origin: left;
}

.joinButton:hover{
  color:white;
  background-color: #EA4335;
  border-radius: 8px;
  border-color: #EA4335;
  transform: scale(1.20);
}



.profile {
  border: none;          
  background: none;      
  padding: 0;            
  margin: 0;             
  cursor: pointer;       
  outline: none;         
}



.profilePicNavbar {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0;
    width: 55px;
    height: 55px;
}

.profilePicNavbar:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease;
  border: none;
} 


.profilePicSideNav{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 113px;
    margin-bottom: 40px;
    width: 280px;
    height: 280px;
}

.profilePicSideNav:hover {
  transform: scale(1.2);
  transition: transform 0.s ease;
  border: none;
}

.profilePicSideNav.hasImage, .profilePicNavbar.hasImage {
    background-size: cover;
    background-position: center;
}

.profilePicSideNav.defaultBg, .profilePicNavbar.defaultBg {
    background:
        linear-gradient(-297deg, rgba(255, 0, 0, .6) 0%, hsla(0, 0%, 100%, 0.3) 50%, rgba(237, 221, 83, .6) 100%),
        linear-gradient(157deg, rgba(31, 255, 14, .6) 0%, hsla(0, 0%, 100%, 0.3), rgba(0, 26, 255, .6) 100%);
}


/* Desktop Size */
@media (min-width: 1201px) {
  .logo {
      width: 400px;
      height: 80px;
  }
}



/* Tablet Size*/
@media (max-width: 1200px) {
  .navBar {
    height: 65px;
    margin: 24px 8px 24px 8px;
    padding: 0 16px;
    border-radius: 20px;
  }

  .logo {
    width: 320px;
    height: 54px;
  }

  .hamburgerBar {
    width: 32px;
    height: 32px;
  }

  .sideBar {
    max-width: 50vw !important;
  }

  .closeButton {
    width: 28px;
    height: 28px;
  }

  .profilePicSideNav {
    width: 220px;
    height: 220px;
    margin-top: 90px;
    margin-bottom: 32px;
  }

  .profilePicNavbar {
    width: 45px;
    height: 45px;
  }

  .otherSection {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .home,
  .events,
  .project,
  .team {
    font-size: 16px;
  }


  /* duplicate?
  .joinButton {
    padding: 3px 20px;
    font-size: 16px;
    border-radius: 7px;
  }
  */
}



/* Mobile Size: Column-Layout */
@media (max-width: 700px) {
  .navBar {
    height: 50px;
    margin: 16px 5px 16px 5px;
    padding: 0 12px;
    border-radius: 16px;
  }

  .logo {
    width: 193px;
    height: 34px;
  }

  .hamburgerBar {
    width: 15px;
    height: 15px;
  }

  .sideBar {
    max-width: 40vw !important;
  }

  .closeButton {
    width: 24px;
    height: 24px;
  }

  .profilePicSideNav {
    width: 120px;
    height: 120px;
    margin-top: 60px;
    margin-bottom: 24px;
  }

  .profilePicNavbar {
    width: 36px;
    height: 36px;
  }

  .otherSection {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .home,
  .events,
  .project,
  .team {
    font-size: 14px;
  }

  .events svg {
    width: 12px;
    height: 12px;
  }

  /* duplicate again?
  .joinButton {
    padding: 2px 16px;
    font-size: 14px;
    border-radius: 6px;
  }
    */
}