.mainContainer{
  width: 100%;
}

.footerContainer {
  background-color: #EBEBEB;
  width: 100%;
  padding: 24px 20px;
  gap: 90px; 
}

.footerTitle {
  font-family: "ProductSansBlack", sans-serif;
  font-size: 32px;
  color: #EA4335;
  margin-bottom: 16px;
}

.footerSubtext {
  font-family: "ProductSans", sans-serif;
  font-size: 18px;
  color: #838383;
  margin-bottom: 16px;
}

.buttonSection {
  margin-bottom: 33px;
  gap:8px;
}

/* Footer buttons */
.btnprimary {
  font-family: "ProductSans", sans-serif;
  display: inline-block;
  font-size: 16px;
  font-weight:700;
  background: #EA4335;
  color: #F3F4F6;
  padding: 8px 40px;
  border-radius: 8px;
  border: 1.5px solid #EA4335;
  transition: 0.5s;
}

.btnprimary:hover {
  display: inline-block;
  background: transparent;
  color: #EA4335;
  border-radius: 8px;
  border: 1.5px solid #EA4335;
  text-decoration: none;
}

.btnsecondary {
  display: inline-block;
  background: #F3F4F6;
  color: #EA4335;
  padding: 8px 30px;
  border-radius: 8px;
  border: 1.5px solid #EA4335;
  text-decoration: none;
  transition: 0.5s;
}

.btnsecondary:hover {
  background: #EA4335;
  color: #F3F4F6;
}

/* Social Media buttons */
.gmailButton,
.facebookButton,
.instagramButton,
.twitterButton,
.linkedinButton {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
}

/* Social media buttons initial state and hover */
.gmailButton svg path {
  transition: fill 0.1s ease;
}

.gmailBlue,
.gmailGreen,
.gmailRed,
.gmailYellow,
.gmailDarkRed {
  fill: rgba(142, 144, 148, 0.5);
}

.gmailButton:hover .gmailBlue {
  fill: #4285F4;
}

.gmailButton:hover .gmailGreen {
  fill: #34A853;
}

.gmailButton:hover .gmailRed {
  fill: #EA4335;
}

.gmailButton:hover .gmailYellow {
  fill: #FBBC04;
}

.gmailButton:hover .gmailDarkRed {
  fill: #C5221F;
}

.facebookButton svg path {
  fill: rgba(142, 144, 148, 0.5);
  transition: fill 0.1s ease;
}

.facebookButton:hover svg path {
  fill: #1877F2;
}

.instagramButton svg {
  width: 41px;
  height: 40px;
  transition: filter 0.1s ease;
  filter: grayscale(100%) opacity(0.5);
}

.instagramButton:hover svg {
  filter: none;
}

.twitterButton svg path{
  fill: rgba(142, 144, 148, 0.5);
  transition: fill 0.1s ease;
}

.twitterButton:hover svg path {
  fill: #1D9BF0;
}

.linkedinButton svg path {
  fill: rgba(142, 144, 148, 0.5);
  transition: fill 0.1s ease;
}

.linkedinButton:hover svg path {
  fill: #0077B7;
}

/* sub footer design */

.subFooter{
  background-color: #E5E7EB;
  width: 100%;
  margin: 0;
  padding: 15px 35px 15px 35px;
}

.logo{
  width: 320px;
  height: 54px;
  margin-bottom: 23px;
}

.events {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: black;
  transition: color 0.3s ease, transform 0.1s ease;
  transform-origin: left;
  overflow: visible;
  margin-bottom: 16px;
}

.events svg {
  transform: translateY(-1px);
  fill: currentColor;
  transition: fill 0.1s ease;
}

.events:hover {
  color: #4285f4;
  transform: scale(1.25);
}


.home {
  color: black;
  font-size: 16px;
  transition: color 0.3s ease, transform 0.1s ease;
  display: inline-block;
  transform-origin: left;
  margin-bottom: 16px;
}

.home:hover {
  color: #EA4335;
  transform: scale(1.25);
}

.project {
  color: black;
  font-size: 16px;
  transition: color 0.3s ease, transform 0.1s ease;
  display: inline-block;
  transform-origin: left;
  margin-bottom: 16px;
}

.project:hover {
  color: #0f9d58;
  transform: scale(1.25);
}

.team {
  color: black;
  font-size: 16px;
  transition: color 0.3s ease, transform 0.1s ease;
  display: inline-block;
  transform-origin: left;
  margin-bottom: 16px;
}

.team:hover {
  color: #4285f4;
  transform: scale(1.25);
}

.copyright{
  text-align: center;
  color: #202124;
  font-family: "ProductSans", sans-serif;
  font-size: 14px;
}

@media (min-width: 768px) {
  .footerSubtext{
    font-size: 20px;
  }

  .logo{
    width: 370px;
  }

  .copyright{
    font-size: 18px;
  }

  .home,
  .events,
  .team,
  .project{
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .footerContainer{
    padding-left: 160px;
    padding-right: 160px;
  }
}