.section {
  position: fixed;
  height: 100vh;
  width: 100vw;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}

.blob {
  position: absolute;
  width: 25%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  filter: blur(220px);
}

.blob-1 {
  top: -20%;
  right: -5%;
  animation: colorChange 7s infinite alternate, moveBlob1 7s infinite alternate;
}

.blob-2 {
  bottom: -20%;
  left: -5%;
  animation: colorChange 7s infinite alternate, moveBlob2 7s infinite alternate;
}

@keyframes colorChange {
  0%   { background: hsl(5, 81%, 56%); }
  33%  { background: hsl(217, 89%, 61%); }
  66%  { background: hsl(151, 83%, 34%); }
  100%  { background: hsl(45, 97%, 50%); }
}


@keyframes moveBlob1 {
  0%   { top: -20%; right: -5%;}
  33%  { top: -20%; right: 50%; }
  66%  { top: -20%; right: 5%; }
  100%  { top: 50%; right: 5%; }
}

@keyframes moveBlob2 {
  0%   { bottom: -20%; left: -5%;}
  33%  { bottom: -20%; left: 50%; }
  66%  { bottom: -20%; left: 5%; }
  100%  { bottom: 50%; left: 5%; }
}

@media (max-width: 600px) {
  .blob {
    width: 160px;
  }
}