.IdIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cpath fill='%23000' d='M2 12.5v.5h1v-.5zm5 0v.5h1v-.5zm-4 0V12H2v.5zm4-.5v.5h1V12zm-2-2a2 2 0 0 1 2 2h1a3 3 0 0 0-3-3zm-2 2a2 2 0 0 1 2-2V9a3 3 0 0 0-3 3zm2-8a2 2 0 0 0-2 2h1a1 1 0 0 1 1-1zm2 2a2 2 0 0 0-2-2v1a1 1 0 0 1 1 1zM5 8a2 2 0 0 0 2-2H6a1 1 0 0 1-1 1zm0-1a1 1 0 0 1-1-1H3a2 2 0 0 0 2 2zM1.5 3h12V2h-12zm12.5.5v8h1v-8zm-.5 8.5h-12v1h12zM1 11.5v-8H0v8zm.5.5a.5.5 0 0 1-.5-.5H0A1.5 1.5 0 0 0 1.5 13zm12.5-.5a.5.5 0 0 1-.5.5v1a1.5 1.5 0 0 0 1.5-1.5zM13.5 3a.5.5 0 0 1 .5.5h1A1.5 1.5 0 0 0 13.5 2zm-12-1A1.5 1.5 0 0 0 0 3.5h1a.5.5 0 0 1 .5-.5zM9 6h3V5H9zm0 3h3V8H9z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}


.PasswordIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6 22q-.825 0-1.412-.587T4 20V10q0-.825.588-1.412T6 8h1V6q0-2.075 1.463-3.537T12 1t3.538 1.463T17 6v2h1q.825 0 1.413.588T20 10v10q0 .825-.587 1.413T18 22zm0-2h12V10H6zm6-3q.825 0 1.413-.587T14 15t-.587-1.412T12 13t-1.412.588T10 15t.588 1.413T12 17M9 8h6V6q0-1.25-.875-2.125T12 3t-2.125.875T9 6zM6 20V10z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.OverlayLogIn{
    position: fixed;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.2);
    width: 100vw;
    height: 100vh;
 
   
    top: 0;
    left: 0;
    animation: slideInUp 0.3s ease-out forwards;
    z-index: 2000 !important;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    top: 0px;
    bottom: 0px;
    position: relative;
    z-index: 11;
}


.LogIn{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 450px;
    height: 400px;

    padding: 10px 8px;
    border: none;
    margin: 0;
    border-radius: 35px;
    background-color: hsla(0, 0%, 100%, 1.00);
    box-shadow: 0 4px 24px rgba(0,0,0,0.08);
    
    font-family: 'product-sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 0;
}

/* exit animation */
.login-exit {
  animation: slideOutUp 0.3s ease-in forwards;
}


.LogIn h1{
    font-family: 'Product Sans', sans-serif;
    font-weight: 800;
    color: hsl(225, 6, 13);
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 5px;
    letter-spacing: 1px;
}

.LogIn .greet{
    font-family: 'Product Sans', sans-serif;
    color: hsl(315, 2%, 40%);
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 0px;
}

/* ID Container */
.IdContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: 80%;
    height: 45px;
    border: 1px solid hsla(0, 0%, 90%, 1.00);
    border-radius: 10px;
    margin-bottom: 10px;
}

.IdContainer .IdIcon{
    margin-left: 10px;
    margin-right: 10px;
}

.IdContainer .idInput{
    width: 85%;
    height: 50%;
    border: none;
    outline: none;
    font-family: 'Product Sans', sans-serif;
    font-size: 14px;
}

.IdContainer .idInput::placeholder{
    font-family: 'Product Sans', sans-serif;
    font-size: 14px;
    color: hsla(0, 0%, 0%, 0.31);
}


/* Password Container */

.passwordContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: 80%;
    height: 45px;
    border: 1px solid hsla(0, 0%, 90%, 1.00);
    border-radius: 10px;
    margin-bottom: 0px;
}

.passwordContainer .PasswordIcon{
    margin-left: 10px;
    margin-right: 10px;
}


.passwordContainer .passwordInput{
    width: 85%;
    height: 50%;
    border: none;
    outline: none;
    font-family: 'Product Sans', sans-serif;
    font-size: 14px;
}

.passwordContainer .passwordInput::placeholder{
    font-family: 'Product Sans', sans-serif;
    font-size: 14px;
    color: hsla(0, 0%, 0%, 0.31);
}




/* Log In Button */

.logInButton{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 80%;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: hsl(5, 81%, 56%);
    color: hsla(0, 100%, 100%, 1.00);
    font-family: 'Product Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 30px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

.logInButton:hover{
    background-color: hsla(5, 81%, 46%, 0.5);
    box-shadow: 0px 4px 15px hsla(5, 81%, 56%, 0.40);
    border: none;
}

.logInButton:active{
    transform: scale(0.98);
    background-color: hsla(151, 83%, 34%, 1.00);
    box-shadow: 0px 2px 8px hsla(151, 83%, 44%, 0.40);
    border: none;
}