.content {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}


.waves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.waves img {
  width: 100%;
  display: block;
  line-height: 0;
}

.content-overlay {
  position: relative;
  z-index: 1;
  padding: 0rem 4rem;
  max-width: 1200px;   
  margin: 0 auto;  
}

.content-section {
  width: 100%;
  margin: 0 auto;
  padding: 4rem 2rem;
  position: relative;
  z-index: 1;
}

.content-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10rem 0;
  gap: 6rem;
}

.content-block.reverse {
  flex-direction: row-reverse;
}

.content-image img {
  width: 100%;
  max-width: 100%;
}

.content-text {
  flex: 1;
  max-width: 100%;
}

.content-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-family:'Product Sans Medium', sans-serif;
}

.content-text h2 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-family:'Product Sans Medium', sans-serif;
}

.content-text p {
  margin-bottom: 1rem;
  line-height: 1.3;
  font-size: 16px;
  font-family: 'Product Sans Medium', sans-serif;
  opacity:0.6;
}

.highlight.red { color: #ea4335; font-weight: bold; } 
.highlight.blue { color: #4285f4; font-weight: bold; } 
.highlight.green { color: #0f9d58; font-weight: bold; } 
.highlight.yellow { color: #fbbc04; font-weight: bold; }

.faq-question {
  color: #EA4335;
  font-weight: bold;
  font-family:'Product Sans Medium', sans-serif;
}

