.container1{
  margin-top: 39px;
  margin-bottom: 39px;
}

.container2{
  width: 1032px;
  height: 280px;
  background-color: #F3F4F6;
  margin-top: 39px;
  margin-bottom: 39px;
  border-radius: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
      z-index: 0;
}

.container2::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px;
  padding: 2px;
  background: linear-gradient(to right, #B9B9B9, transparent);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  z-index: -1;
}