.slideshow-track {
  display: flex;
  width: 100%;
  height: 600px;
  transition: transform 0.6s ease-in-out; 
}

.slideshow-wrap {
  width: 100vw;  
  margin: 0;      
  overflow: hidden; 
}

.slide {
  flex: 0 0 100%; 
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.slide::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: rgba(237, 213, 213, 0.8);
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0.1;
}

.overlay{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
  color: #111;
  z-index: 2;
  width: 100%;
  max-width: 900px;
  font-family: 'Product Sans Light', sans-serif;
  font-size:20px;
}

.google {
  display: inline-block;
}

.google span {
  display: inline-block;
  line-height: 1;
}

.google span:nth-child(1) { color: #4285F4; }
.google span:nth-child(2) { color: #EA4335; } 
.google span:nth-child(3) { color: #FBBC05; }
.google span:nth-child(4) { color: #4285F4; }
.google span:nth-child(5) { color: #34A853; }
.google span:nth-child(6) { color: #EA4335; } 

.tup {
  font-weight: bold;
}

.btn-primary {
  display: inline-block;
  font-family: 'Product Sans Medium', sans-serif;
  font-size: 15px;
  background: #EA4335;
  color: #F3F4F6;
  padding: 13px 55px;
  border-radius: 12px;
  border: 1.5px solid #EA4335;
  transition: 0.5s;
}

.btn-primary:hover {
  display: inline-block;
  background: transparent;
  color: #EA4335;
  border-radius: 12px;
  border: 1.5px solid #EA4335;
  text-decoration: none;
}


.arrow-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 120px; 
  transform: translateY(23%);
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: background 0.3s ease;
}

/* Arrow Shape */
.arrow-btn::after {
  content: "";
  width: 22px;
  height: 22px;
  border-top: 4px solid rgba(234, 67, 53, 0.4);   
  border-right: 4px solid rgba(234, 67, 53, 0.4);
  transition: border-color 0.3s ease, transform 0.3s ease;
  z-index: 3;
}

.arrow-btn.prev { left: 0; }
.arrow-btn.prev::after { transform: rotate(-135deg); }

.arrow-btn.next { right: 0; }
.arrow-btn.next::after { transform: rotate(45deg); }

.arrow-btn::before {
  content: "";
  position: absolute;
  height: 1000px;  
  width: 200px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.arrow-btn.prev::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.5) 40%,
    transparent 100%
  );
}

.arrow-btn.next::before {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.5) 40%,
    transparent 100%
  );
}

.arrow-btn:hover::after {
  border-top-color: rgba(234, 67, 53, 1);
  border-right-color: rgba(234, 67, 53, 1);
}

.arrow-btn:hover::before {
  opacity: 1;
}

.dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 3;
}

.dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: rgba(255,255,255,0.6);
  border: 2px solid rgba(255,255,255,0.18);
  cursor: pointer;
  transition: transform .18s, background .18s;
}

.dot.active {
  background: white;
  transform: scale(1.12);
}


.sponsors {
  display: flex;
  justify-content: center;
  gap: 90px;
  padding: 35px 0;
  background: #f3f4f6;
  width: 100vw;    
  margin: 0;       
}

.sponsors img {
  height: 38px;
  object-fit: contain;
  cursor: pointer;
}


.slideshow-track,
.slide {
  height: 400px;
}

@media (min-width: 768px) {
  .slideshow-track,
  .slide {
    height: 500px;
  }

  .overlay h1 {
    font-size: 28px;
    line-height: 1.3;
  }

  .overlay p {
    font-size: 16px;
  }

  .btn-primary {
    font-size: 16px;
    padding: 12px 45px;
  }

  .sponsors {
    gap: 40px;
  }
}

@media (min-width: 992px) {
  .slideshow-track,
  .slide {
    height: 600px;
  }

  .overlay h1 {
    font-size: 36px;
  }

  .overlay p {
    font-size: 18px;
  }

  .btn-primary {
    font-size: 18px;
    padding: 13px 55px;
  }

  .sponsors {
    gap: 70px;
  }
}

@media (min-width: 1200px) {
  .slideshow-track,
  .slide {
    height: 600px;
  }

  .overlay {
    top: 70%; 
    max-width: 1000px;
  }

  .overlay h1 {
    font-size: 45px;
  }

  .overlay p {
    font-size: 20px;
  }

  .btn-primary {
    font-size: 15px;
    padding: 13px 55px;
  }

  .sponsors {
    gap: 90px;
  }
}