@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ProductSans';
  src: url('./assets/fonts/ProductSans-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProductSans';
  src: url('./assets/fonts/ProductSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProductSans';
  src: url('./assets/fonts/ProductSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProductSansBold';
  src: url('./assets/fonts/ProductSans-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ProductSans';
  src: url('./assets/fonts/ProductSans-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'ProductSansBlack';
  src: url('./assets/fonts/ProductSans-Black.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

html, body, #root {
  background-color: #F3F4F6;
}

h1 {
  font-family: "ProductSans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

p{
  font-family: "ProductSans", sans-serif;
  font-weight: 300;
}

a{
  text-decoration: none !important;
  font-family: "ProductSans", sans-serif;
  font-size: 16px;
}

*{
  padding:0;
  margin:0;
}

body {
  background-color: #f3f4f6;  
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: inherit; 
}
