@font-face {
  font-family: 'Product Sans Black';
  src: url('ProductSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
 

@font-face {
  font-family: 'Product Sans Medium';
  src: url('ProductSans-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}   

@font-face {
  font-family: 'Product Sans Bold';
  src: url('ProductSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}  

@font-face {
  font-family: 'Product Sans Light';
  src: url('ProductSans-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}   