.card {
  background-color: #F3F4F6;
  border-radius: 24px;
  margin: 39px 15px 0 15px;
  padding: 19px;
  position: relative;
  z-index: 0; 
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px;
  padding: 2px;
  background: linear-gradient(to right, #B9B9B9, transparent);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  z-index: -1;
}

.projectImage{
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
}

.title{
  font-family: "ProductSans", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}

.description{
  font-family: "ProductSans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #696568;
  margin-bottom: 32px;
}

.role{
  font-family: "ProductSans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  line-height: 1.2;
}

.name{
  color: #EA4335;
}

.viewButton{
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #EA4335;
  font-family: "ProductSans", sans-serif;
  font-weight: 550;
  font-size: 18px;
  margin-top: 32px;
  padding: 8px 70px 8px 70px;
}

/* Rensponsive designs */
@media (min-width: 50px){
  .card::after{
    background: linear-gradient(to right, #B9B9B9, rgba(185, 185, 185, 0.5));
  }
}

@media (min-width: 768px) {
  .card{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2)
  }

  .projectImage {
    width: 255px;
    height: 255px;
  }
  .description{
    text-align: left;
  }
}

@media (min-width: 1200px) {

  .card{
    margin-left: 75px;
    margin-right: 75px;
    padding: 60px 15px 60px 80px;
  }
  
  .projectImage {
    width: 300px;
    height: 300px;
  }

  .title{
    font-size: 48px;
  }

  .description{
    font-family: "ProductSans", sans-serif;
    font-weight: 400;
    font-size: 18px;
  }

  .role{
    font-family: "ProductSans", sans-serif;
    font-size: 18px;
    font-weight: 400;
  }

  .viewButton{
    padding: 10px 187px 10px 187px;
    font-size: 32px;
  }
}
