.card {
  background-color: #F3F4F6;
  border-radius: 24px;
  margin: 39px 15px 0 15px;
  padding: 19px;
  position: relative;
  z-index: 0; 
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px;
  padding: 2px;
  background: linear-gradient(to right, #B9B9B9, transparent);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  z-index: -1;
}

.projectImage{
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
}

.title{
  font-family: "ProductSansBlack", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}

.description{
  font-family: "ProductSans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #696568;
  margin-bottom: 32px;
}

.role{
  font-family: "ProductSans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  line-height: 1.2;
}

.name{
  color: #EA4335;
}

.viewButton{
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #EA4335;
  font-family: "ProductSans", sans-serif;
  font-weight: 550;
  font-size: 18px;
  margin-top: 32px;
  padding: 8px 70px 8px 70px;
}

/* Rensponsive designs */
/* ================== MOBILE (min-width: 50px) ================== */
@media (min-width: 50px) {
  .slideshow-track,
  .slide {
    height: 450px;
  }

  .overlay {
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
  }

  .overlay h1 {
    font-size: 26px;
    line-height: 1.3;
    font-weight: 900;
  }

  .overlay p {
    font-size: 15px;
    opacity: 0.8;
  }

  .btn-primary {
    font-size: 15px;
    padding: 10px 40px;
    border-radius: 10px;
  }

  .arrow-btn {
    top: 50%;
    width: 60px;
    transform: translateY(-50%);
  }

  .arrow-btn::after {
    width: 16px;
    height: 16px;
    border-top-width: 3px;
    border-right-width: 3px;
  }

  .arrow-btn::before {
    height: 450px;
  }

  .sponsors {
    gap: 30px;
    padding: 25px 0;
  }
}

/* ================== TABLET (min-width: 768px) ================== */
@media (min-width: 768px) {
  .slideshow-track,
  .slide {
    height: 500px;
  }

  .overlay {
    top: 55%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 700px;
  }

  .overlay h1 {
    font-size: 32px;
  }

  .overlay p {
    font-size: 16px;
  }

  .btn-primary {
    font-size: 16px;
    padding: 12px 50px;
  }

  .arrow-btn {
    top: 50%;
    width: 80px;
  }

  .arrow-btn::before {
    height: 500px;
  }

  .sponsors {
    gap: 50px;
  }
}

/* ================== DESKTOP (min-width: 1200px) ================== */
@media (min-width: 1200px) {
  .slideshow-track,
  .slide {
    height: 600px;
  }

  .overlay {
    top: 60%;
    transform: translate(-50%, -50%);
    max-width: 900px;
  }

  .overlay h1 {
    font-size: 45px;
    font-weight: 900;
  }

  .overlay p {
    font-size: 20px;
  }

  .btn-primary {
    font-size: 17px;
    padding: 13px 55px;
  }

  .arrow-btn {
    top: 50%;
    width: 100px;
  }

  .arrow-btn::before {
    height: 600px;
  }

  .sponsors {
    gap: 90px;
  }
}
