.containerEB{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 20px;
}

.department{
    font-family: "ProductSansBlack", sans-serif;
    font-size: 32px;
    text-align: center;
    padding-bottom: 32px;
}

.image{
  width: 160px;
  height: 243px;
  display: block;
}

.imgContainer{
  position: relative;
  display: inline-block;
}

.blueContainer{
  position: absolute;
  top: 81%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(to top, #4285F4, transparent);
  padding-bottom: 10px;
  border-radius: 0 0 32px 32px;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.redContainer {
  position: absolute;
  top: 81%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(to top, #EA4335, transparent);
  padding-bottom: 10px;
  border-radius: 0 0 32px 32px;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.yellowContainer {
  position: absolute;
  top: 81%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(to top, #FBBC04, transparent);
  padding-bottom: 10px;
  border-radius: 0 0 32px 32px;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.greenContainer {
  position: absolute;
  top: 81%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(to top, #34A853, transparent);
  padding-bottom: 10px;
  border-radius: 0 0 32px 32px;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.linkedin{
  width: 30px;
  height: 30px;
}

.imgContainer:hover .blueContainer{
  opacity: 1;
}
.imgContainer:hover .redContainer {
  opacity: 1;
}
.imgContainer:hover .yellowContainer {
  opacity: 1;
}
.imgContainer:hover .greenContainer {
  opacity: 1;
}

.span2{
  grid-column: 1 / -1;
  gap: 20px;
}

.margin{
  margin-top: 70px;
  margin-bottom: 32px;
}

.containerTech{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:  repeat(9, 1fr);
  gap: 20px;
}

.containerComm{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
}

.containerOper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 20px;
}

.containerInnov{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

.containerHR{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.containerFin{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

.containerRel{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
}

.containerGoog{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
}


@media (min-width: 768px) {
  .image{
    width: 200px;
    height: 304px;
  }
  .linkedin{
    width: 40px;
    height: 40px;
  }

  .containerEB{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .containerTech {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .containerComm {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .containerOper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .containerInnov{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .containerFin{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .containerRel{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .containerGoog{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (min-width: 992px) {
  .department{
    font-size: 36px;
  }

  .containerEB {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .containerTech {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .containerComm {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .containerOper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .containerInnov {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .containerHR{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .containerFin {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .containerRel {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .containerGoog{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

}